.footer {
  background: lighten(black, 10%);
  color: whitesmoke;
  text-align: center;
  padding: 4em;
  a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: 400;
  }

  &__content {
    display: grid;
    place-content: center;
    .list {
    }

    .foot {
      font-weight: 600;
      margin-top: 2em;
      padding: 1em;
    }
  }
}
